{% extends 'base.html' %}
{% block content %}
    <div id="top" class="row">
        <div class="col-sm-3">
            <h2> Menu Hub</h2>
        </div>
        <div class="col-sm-3 col-sm-offset-6">
            <a href="{{ url_for('hub.create') }}" class="btn btn-primary pull-right h2"><i
                    class="fa fa-plus"></i> Add Menu
            </a>
        </div>
    </div> <!-- /#top -->
    <hr/>
    <div id="list" class="row">
        <div class="col-md-12">
            {% for menu in menus %}
                <article class="menu">
                    <header>
                        <div>
                            <h1>{{ menu['title'] }}</h1>
                        </div>
                        <a class="action" href="{{ url_for('menu.update', id=menu['id']) }}" class="btn btn-primary">Edit</a>
                    </header>
                </article>
                {% if not loop.last %}
                    <hr>
                {% endif %}
            {% endfor %}
        </div>

    </div> <!-- /#list -->
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>

{% endblock %}
