{% extends 'base.html' %}
{% block content %}
    <h3 class="page-header">Update Menu "{{ menu['title'] }}"</h3>

    <div class="row">
        <div class="col-sm-12">
            <form method="post">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Title:</label>
                                <input type="text" name="title" class="form-control" placeholder="Title" required
                                       value="{{ request.form['title'] or menu['title'] }}">
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div id="actions" class="row">
                            <div class="col-md-12">
                                <button id="btn_salvar" class="btn btn-primary" type="submit">
                                    Save
                                </button>
                                <a href="javascript:window.history.back()" class="btn btn-default">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <hr/>
            <form action="{{ url_for('menu.delete', id=menu['id']) }}" method="post">
                <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#author_link').addClass('active');

            $('#id_user').select2({
                ajax: {
                    url: '/api/user/',
                    dataType: 'json',
                    data: function (params) {
                        var query = {
                            id: params.term
                        }
                        return query;
                    },
                    processResults: function (data) {
                        new_data = []
                        data.forEach(function (elem) {
                            new_data.push({
                                id: elem.id,
                                text: elem.id
                            });
                        });
                        return {
                            results: new_data
                        };
                    }
                }
            });


        });
    </script>
{% endblock %}
